html {
    text-align: center;
    /* background-color: rgb(127, 146, 255); */
    color:bisque;
    background-image: url('images/space-bg.jpg');
}





.heading {
    background-color: rgb(129, 168, 212);
    color:rgb(12, 27, 27);
    border: solid 5px white;
    border-radius: 15px;
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    padding: 10px;
    z-index: 5;
    
}

button {
    display: inline-block;
    background-color:rgb(129, 168, 212);
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.selection {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(129, 168, 212);
    border-radius: 20px;
    color:black;
    border: solid 5px white;

}

footer {
    margin-top: 200px;
}